h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

header h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #2c2c2c;
}

h2,
h4,
h5 {
  font-family: "Lato", serif;
}

h3 {
  font-family: "Playfair Display", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
}

.quote-banner {
  background-color: #e74c3c;
  padding: 5px;
}

#inspirationalQuote {
  text-align: center;
}

main {
    padding-top: 25px;
}

main .workout-container{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Style header row */
th {
  background-color: #333;
  color: #fff;
}

/* Hover effect for better interaction */
tr:hover {
  background-color: #e0e0e0;
}

textarea {
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
}


.card button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    border-radius: 8px;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

.card button:hover {
    background-color: #2980b9;
}

.card button:active {
    background-color: #216795;
}

.card.completed {
    background-color: #27ae60;
}

.card.rest {
    background-color: #b9a49a;
}

.add-workout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Set the width to 80% */
    margin: auto; /* Center the form within the card */
}

.add-workout-form input,
.add-workout-form button {
    margin: 10px 0px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.add-workout-form input {
    background-color: #2c2c2c;
    color: #ffffff;
    width: 39%;
    margin-right: 1px;
    margin-left: 1px;
}

.add-workout-form button {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.add-workout-form button:hover {
    background-color: #2980b9;
}

.add-workout-form button:active {
    background-color: #216795;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 5vh;
  background-color: #2c2c2c;
  align-items: center;
}
